.editable {
  width: 100%;
}

.editable_display {
  padding: 6px 12px;
  border-radius: 3px;
  background-color: #0055df;
  color: #eee;
  cursor: pointer;
  width: 100%;
  transition: 300ms ease-in-out;
  text-align: center;
  font-weight: bold;
}

.editable_display:hover {
  background-color: #0f1013;
  transition: 300ms ease-in-out;
}

.editable_display {
  padding: 6px 12px;
  border-radius: 3px;
  background-color: #2E3848;
  color: #eee;
  cursor: pointer;
  width: 100%;
  transition: 300ms ease-in-out;
  text-align: center;
  font-weight: bold;
}

.editable_display:hover {
  background-color: #0f1013;
  transition: 300ms ease-in-out;
}

.editable_edit {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.editable_edit input {
  border: 2px solid #0079bf;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  padding: 10px;
}

.editable_edit_footer button:active {
  transform: translateY(2px);
}


/* Add button styles */

.add_board {
  padding: 6px 12px;
  border-radius: 3px;
  background-color: #482e2e;
  color: #eee;
  cursor: pointer;
  width: 100%;
  transition: 300ms ease-in-out;
  text-align: center;
  font-weight: bold;
}

.add_board:hover {
  background-color: #ffffff;
  transition: 300ms ease-in-out;
}

.add_board {
  padding: 6px 12px;
  border-radius: 3px;
  background-color: #2E3848;
  color: #eee;
  cursor: pointer;
  width: 100%;
  transition: 300ms ease-in-out;
  text-align: center;
  font-weight: bold;
}

.add_board:hover {
  background-color: rgb(19, 16, 16);
  color: #eee;
  transition: 300ms ease-in-out;
}