
.board_add-card {
  background-color: #2E3848;
  color: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.12);
  width: 100%;
  text-align: center;
}
.board_add-card_edit {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}
